<ng-container *ngIf="joke">
  <div class="joke-card">
    <div class="joke-card__header">
      <img class="joke-card__image" [src]="joke.icon_url" alt="">
    </div>
    <div class="joke-card__body">
      <p class="joke-card__text">{{joke.value | uppercase}}</p>
    </div>
    <div class="joke-card__footer">
      <button class="btn joke-card__action joke-card__action--like" (click)="onLikeClick()">Like</button>
      <button class="btn joke-card__action joke-card__action--skip" (click)="onSkipClick()">Skip</button>
    </div>
  </div>
</ng-container>
