@import '../../../scss/variables.scss';

.joke-card {
  max-width: 480px;
  padding: 16px;
  box-shadow: $card-box-shadow;

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    margin-bottom: 10px;
  }

  &__creation-time {
    text-align: right;
  }

  &__action--like {
    background-color: #adf7b5;
  }

  &__action--skip {
    background-color: #ffb6ae;
  }
}
