.btn {
  display: inline-block;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
}
